<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />




    <application
        android:allowBackup="true"
        android:label="TrackerApp"
        android:supportsRtl="true"
        android:icon="@drawable/icon"

        android:theme="@style/Theme.Tracker"
        android:networkSecurityConfig="@xml/network_security_config"
        >

        <service
            android:name=".TrackingService"
            android:foregroundServiceType="location"
            android:exported="false" />


        <activity android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Tracker">  <!-- أو أي ثيم لديك -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIyNeIqEpTE4icGhvvU2igY9-NonYrr8E" />


    </application>

</manifest>